@model StudyOnline.Models.Folder

@{
    Layout = null;
}
<div class="panel" style="width:25%;float:left;">

    <h1>标题</h1>

    <div>

        内容

    </div>

</div>
<div class="panel" style="width:75%;margin-left:25%;">

    <h1>标题</h1>

    <div>

        内容

    </div>

</div>