@using Webdiyer.WebControls.Mvc;
@using StudyOnline.Models;
@using StudyOnline.Utils;
@model StudyOnline.Models.Folder

@{
    Layout = null;
    List<Level> levels = ViewBag.Levels;
}
<script>
    function addDocumentToFolder() {









        $("#folderAddedDocuments").append("<h1>添加了一个</h1>");
    }

</script>






<div class="panel" style="width:25%;float:left;">

    <h1>文章列表</h1>

    <div>
        <div id="folderAddedDocuments" class="unitBox">
            <span class="docsList">
                <input type="hidden" name="name" value=" " />
                <span>sdfasdfsdfsdfsdfsadfsdfsf</span>
                <a href="javascript:;" class="close" title="移除" onclick="$(this).parent().remove();"></a>
            </span>
            <span class="docsList">
                <input type="hidden" name="name" value=" " />
                <span>sdfasdfsdfsdfsdfsadfsdfsf</span>
                <a href="javascript:;" class="close" title="移除" onclick="$(this).parent().remove();"></a>
            </span>
            <span class="docsList">
                <input type="hidden" name="name" value=" " />
                <span>sdfasdfsdfsdfsdfsadfsdfsf</span>
                <a href="javascript:;" class="close" title="移除" onclick="$(this).parent().remove();"></a>
            </span>
        </div>
    </div>

</div>
<div class="panel" style="width:74%;margin-left:26%;">
    <h1>所有文章</h1>
    <div>
        <div id="jbsxBox3" class="unitBox">
            @Html.Action("FolderCreateRight")
        </div>

    </div>

</div>