
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AndroidClient下载</title>
</head>
<body>
    <div>
        <p>请点击下面链接下载安装包(如果在微信打开,请转至"用浏览器中打开")</p>
        <p>或长按下载链接->"在浏览器打开")</p>
        <a href="@Url.Content("~/File/app-student-release.apk")">ChineseChat安卓学生端</a>
        <a href="@Url.Content("~/File/app-teacher-release.apk")">ChineseChat安卓教师端</a>
    </div>
</body>
</html>
