
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>汉问东方用户使用协议</title>
</head>
<body>
    <h1>欢迎访问汉问客户端！    </h1>
    <h1>Welcome to ChineseChat !</h1>

    <p>汉问网站 (http://www.chinesechat.com/) 及相应的客户端应用软件是由北京汉问东方教育科技有限公司负责开发和运营，公司致力于提供汉语口语在线一对一训练服务的平台建设。通过汉问客户端实现高效、智能、精准地在线匹配师生开展汉语口语一对一教学训练服务，为全球广大汉语学习者提供一套便捷高效的在线口语学习工具，创建一个专业、简单、智能、安全的高品质汉语口语学习服务平台。</p>
    <p>ChineseChat website (http://www.chinesechat.com/) and ChineseChat App are developed and operated by Beijing ChineseChat Education Technology Co., LTD, which is dedicated to constructing a platform which provides one-on-one spoken Chinese training services online. ChineseChat App develops one-on-one teaching and training services in spoken Chinese, offers convenient and efficient online learning tools in spoken Chinese for Chinese language learners  all over the world that match students with their desired instructors, and creates a spoken Chinese learning platform that is professional, user friendly, high-quality and safe.</p>
    <p>请用户在注册汉问客户端提供的服务前仔细阅读本协议。接受本协议请点击“我已阅读并遵守汉问用户使用协议”按钮完成注册，这表示用户与汉问东方公司已达成协议并接受所有服务条款。</p>
    <p>Please read this Agreement carefully before registering ChineseChat App. Click on “I have read and accepted the terms of ChineseChat services” button to complete your registration process and demonstrate that you have reached an agreement with Beijing ChineseChat Education Technology Co., LTD and that you have accepted all the terms in this Agreement.</p>

    <h2>1.	汉   问   服   务</h2>
    <h2>ChineseChat Service  </h2>

    <p>用户应了解并知悉，汉问是为学生提供中文听力资源及在线一对一口语训练的服务平台。学生与老师通过汉问的客户端在双方之间达成独立的教学服务。</p>
    <p>Users should be aware that ChineseChat offers students Chinese listening resources and one-on-one online practice in spoken Chinese and provides a platform for students and instructors to establish independent teaching services through ChineseChat App. </p>

    <h2>2.	使   用   规   则                </h2>
    <h2>Steps and Rules for Using ChineseChat</h2>

    <p>2.1注  册  及  账  户
    <p>Registration and Account
    <p>为了享用汉问客户端提供的服务，用户需要注册汉问账户。注册账户需填写1、用户名（邮箱地址）、2、设置用户密码、3、阅读并同意“用户协议”三个步骤。用户名即为用户注册汉问客户端时所使用的邮箱账号。注册成功后，该用户即在汉问客户端拥有了自己的账户，用户初次登录后通过你的paypal或alipay（支付宝）账户进行汉问客户端的充值操作，完成充值后即可享有汉问在线一对一汉语口语训练服务（下称服务），采取每分钟实时扣费的计费方式，用户需保证账户中足够的余额来持续享有该服务，建议用户每次登录后先查询余额是否足以支付本次训练应付的费用，训练前做好充值操作。用户使用汉问客户端服务，应负责保管好自己账户的登入密码并限制第三方使用/访问其手机或终端设备，用户对其自身账户和密码下发生的所有活动承担法律责任。</p>
    <p>Users have to register a ChineseChat account before they use services offered by ChineseChat App. By creating username (email address) and password, and accepting this Agreement, users can complete the registration process, after which they can acquire a username that is also the email address, and a unique account on ChineseChat App the first time when users log in ChineseChat App. </p>
    <p>Users may then add funds to their ChineseChat account through their paypal or alipay account and enjoy the one-on-one Chinese spoken language training service (referred to as "service"). </p>
    <p>This service deducts fees per minute in real-time, so users need to make sure that sufficient balance is in their account to continue enjoying the service. ChineseChat suggests that users check whether the account balance is enough to pay fees each time after login and complete the recharge process promptly before training.</p>
    <p>Users should ensure the safety of login password of their ChineseChat accounts and limit any other party to use their mobile phone or terminal equipment. Users are held accountable for all activities they perform in their own accounts.</p>
    <p>2.2订    单</p>
    <p>Placing an Order for Course Enrollment</p>
    <p>本条款所述“订单”，是指用户使用汉问客户端接受汉问在线一对一口语训练服务达成的服务协议。“汉问”客户端给学生自动匹配的老师或者学生搜索到合适的老师后，订单在同时满足以下两个条件时即正式订立：</p>
    <p>The term "order" refers to the situation in which students are admitted to reaching the service agreement by using ChineseChat App and through accepting the online one-on-one spoken Chinese training services. After ChineseChat App have automatched instructors online or students have searched out the appropriate instructor, the order is formally concluded if the following two conditions are satisfied:</p>
    <p>2.2.1 学生通过汉问客户端有足够的余额支付服务费用。</p>
    <p>Students have enough balance to pay for the service on ChineseChat App.</p>
    <p>2.2.2老师确认并接受学生提交的订单申请后建立的口语训练语音连接。</p>
    <p>Instructors establish call links after confirming and accepting orders that students submit.</p>
    <p>2.3 上  课  流  程  及  评  价</p>
    <p>Process of Course Delivery and Evaluation</p>
    <p>2.3.1 用户在完成注册登录汉问客户端，切换到聊天页面，即可选择呼叫汉问客户端的在线老师, 请求一对一口语训练服务，随时随地进入或退出训练服务，系统将按照你享有的服务时长扣取相应的费用。专业的汉语老师陪你聊最地道的汉语，选择你喜欢的聊天话题，在轻松愉快的聊天氛围中快速提高汉语口语能力。</p>
    <p>After completion of registration, users can log in ChineseChat App, switch to chat page and choose the instructor online at anytime. Users can request one-on-one spoken Chinese training services, enter or exit the course anywhere at any time, and our system will deduct reasonable costs according to users' duration of services they enjoy. During chat time, professional Chinese instructors will chat with users in authentic Chinese, select users’ favorite chat topics and help them improve oral Chinese quickly in a relaxing and chitchat-like way.</p>
    <p>2.3.2 在结束本次训练服务后，用户可在汉问客户端上对该老师做出评价。用户可以在汉问客户端（包括客户端的投诉与建议以及汉问官网这两个途径）发表对老师的评论、建议和其他内容，但是发表的内容不得违反中国现行法律法规及其他规范性文件的要求，不得含有非法（包括非法宗教及其宣传品等）、淫秽、威胁、侮辱、诽谤、侵犯隐私、侵犯知识产权的内容或以其他形式对第三方权利构成侵犯。汉问在接到有关权利人的投诉与举报后将采取合理的删除或屏蔽等措施。由于用户的过错给汉问造成损失，用户须对汉问承担赔偿责任。</p>
    <p>Users can evaluate their instructors on ChineseChat App at the end of the training services by providing suggestions, comments or other content about their instructors. Two typical ways of evaluations include providing comments or suggestions through ChineseChat App or through ChineseChat’s official website, and such comments published by users must not violate the laws or regulations of China, or contain any information that is illegal (including heresy and its brochures), pornographic, threatening, insulting, offensive, or that infringes on any third party’s privacy, intellectual property or other similar rights. ChineseChat will take proper actions, such as removing relevant information or blocking links, upon receipt of any complaint or claim of infringement. Users are held accountable for any loss he/she causes to ChineseChat due to his/her misconducts.</p>
    <p>2.4 听力资源的使用</p>
    <p>The Use of Listening Resources</p>
    <p>用户下载、安装汉问客户端并点击该应用后即进入听力页面，用户可免费使用汉问提供的汉语听力资源。但本资源仅供用户以学习汉语为目的使用，不得对本资源进行翻录、复制、发行等。由此所导致的一切民事、行政或刑事责任，由用户自行承担。</p>
    <p>After downloading, installing, clicking on ChineseChat App, and entering the listening resources page, users can enjoy Chinese listening resources provided by ChineseChat for free. Users are not allowed to record, copy or publish the resources, which are for the sole purpose of learning Chinese. Users are held accountable for any civil, administrative and/or penal responsibilities arising from or related to their misuse of the listening resources on ChineseChat's website.</p>

    <h2>3.	双 方 权 利 义 务 及 法 律 责 任           </h2>
    <h2>Rights and Obligations of Users and ChineseChat</h2>

    <p>ChineseChat has the right to:</p>
    <p>3.1	汉问享有对本协议约定服务的监督、提示、检查、纠正等权利。</p>
    <p>supervise, examine, and correct services stipulated in this Agreement and send out reminders.</p>
    <p>3.2	汉问有权保留用户注册及使用时预留的信息。</p>
    <p>retain information disclosed by users during their registration and usage.</p>
    <p>3.3	汉问有权删除或屏蔽用户上传的非法及侵权信息。</p>
    <p>remove or block any illegal or tortious content uploaded by users.</p>
    <p>3.4	汉问在非依法律规定及用户许可的情况下, 不得向任何第三方透露用户信息。</p>
    <p>ChineseChat will not disclose users’ information to any third party unless required by law or permitted by users.</p>
    <p>3.5	汉问为任何涉嫌侵权的权利人设置便捷的投诉与举报渠道，并依法采取合理救济措施。</p>
    <p>ChineseChat sets up convenient ways for whistle blowers and infringement claimants to raise their complaints and will take appropriate actions to remedy the situation.</p>
    <p>3.6	用户须为合法目的使用汉问提供的客户端服务。</p>
    <p>Users must use services offered by ChineseChat App for legal purposes.</p>
    <p>3.7	用户仅对在汉问客户端享有的服务及内容享有使用权，即享有在线收听或下载供本人使用的听力资源。未经汉问或其他第三方权利人的书面许可，用户不得对包括视频、学习软件、学习资料、音频内容等在内的任何内容进行翻录、复制、发行等违反知识产权相关法律、法规的行为，由此所导致的一切民事、行政或刑事责任，由用户自行承担。</p>
    <p>Users enjoy only the right of using the service and content on ChineseChat App, for example, listening or downloading listening resources for their use. Without the written permission of ChineseChat or of any third party, users must not duplicate, copy, or distribute any material derived from ChineseChat, including but not limited to video and audio files, software and study materials. Users are held liable for any act that infringes on others’ intellectual property right or that violates the laws.</p>

    <h2>4.	用 户 注 意 义 务 特 别 提 示</h2>
    <h2>Reminder of User Obligations     </h2>

    <p>用户在汉问客户端的口语聊天信息不得含有以下内容：                                                                    </p>
    <p>Oral chatting information of users on ChineseChat App must not contain any information that:                        </p>
    <p>4.1	反对宪法确定的基本原则的；                                                                                     </p>
    <p>is against the principles of the Constitution of China;                                                             </p>
    <p>4.2	危害国家统一、主权和领土完整的；                                                                               </p>
    <p>jeopardizes national unity, sovereignty and territorial integrity;                                                  </p>
    <p>4.3	泄露国家秘密、危害国家安全或者损害国家荣誉和利益的；                                                           </p>
    <p>divulges national secrets or jeopardizes national security, national honor or national interest;                    </p>
    <p>4.4	煽动民族仇恨、民族歧视，破坏民族团结，或者侵害民族风俗、习惯的；                                               </p>
    <p>incites hatred or discrimination among ethnic groups, or destroys national unity or tradition;                      </p>
    <p>4.5	宣扬邪教、迷信的；                                                                                             </p>
    <p>circulates cult or superstitious information;                                                                       </p>
    <p>4.6	扰乱社会秩序，破坏社会稳定的；                                                                                 </p>
    <p>disturbs social order or destroys social stability;                                                                 </p>
    <p>4.7	诱导未成年人违法犯罪和渲染暴力、色情、赌博、恐怖活动的；                                                       </p>
    <p>induces juvenile delinquency or disseminates information on cult, violence, pornography,    gambling or terrorism;  </p>
    <p>4.8	侮辱或者诽谤他人，侵害公民个人隐私等他人合法权益的；                                                           </p>
    <p>insults or slanders others or invades others’ privacy or legitimate rights and interests.                           </p>
    <p>4.9	危害社会公德，损害民族优秀文化传统的；                                                                         </p>
    <p>harms social morality, ethnic culture and tradition;                                                                </p>
    <p>4.10 有关法律、行政法规和国家规定禁止的其他内容。                                                                   </p>
    <p>violates any other provision contained in the laws and administrative regulations of the People’s Republic of China.</p>

    <h2>5.	未 成 年 人 特 别 注 意 事 项</h2>
    <h2>Cautions for Minors              </h2>

    <p>如果用户不是具备完全民事权利能力和完全民事行为能力的自然人，请用户征得其监护人许可或由其监护人直接使用汉问服务。后续线上学习、付款等事宜也需由监护人陪同或征得监护人许可完成。</p>
    <p>If a user is not fully entitled to all civil rights or not capable of engaging in civil conduct, he/she should obtain his/her guardian’s permission or have his/her guardian use ChineseChat’s services, complete the courses either online or offline, and make the course payments in the company of his/her guardian or under his/her guardian’s permission.</p>


    <h2>6.	知  识  产  权   </h2>
    <h2>Intellectual Property</h2>

    <p>6.1	软  件  使  用</p>
    <p>Software Usage</p>
    <p>用户下载汉问提供的客户端软件并安装后可以从客户端使用汉问所提供的服务。汉问在此授予客户免费的、不可转让的、非独占的全球性个人许可，允许客户使用由汉问提供的、包含在服务中的软件。但是，客户不得复制、修改、发布、出售或出租汉问的服务软件或所含软件的任何部分，也不得进行反向工程或试图提取该软件的源代码。</p>
    <p>Once users download and install ChineseChat App, they can have access to ChineseChat’s services. ChineseChat grants its users a free, nontransferable and non-exclusive global license, allowing users to use software contained in the service; however, users must not copy, edit, publish, sell, rent all or part of ChineseChat software, perform reverse engineering or try to extract the source code from the software.</p>
    <p>6.2	版    权</p>
    <p>Copyright</p>
    <p>汉问客户端所包含或提供的所有内容诸如文字、图片、视频、声音文件片段、数字下载、软件等都是汉问或其内容提供者的财产，受中国和国际版权法的保护。汉问所提供使用的所有软件都是汉问的财产，受中国和国际版权法的保护。未经汉问书面许可，不得以任何形式通过任何方式复制、展示、修改、转让、分发、重新发布、下载、张贴或传输本网站的内容。</p>
    <p>All contents provided by ChineseChat —including documents, images, video and audio files, data files, and software — are properties of ChineseChat or its providers, and are protected by Chinese and international copyright laws. Without ChineseChat’s written consent, users are not allowed to copy, demonstrate, edit, forward, distribute, re-publish, download, repost, or transfer, in any form or in any manner, the contents of ChineseChat’s website.</p>
    <p>6.3	企 业 标 识</p>
    <p>Corporate Identities</p>
    <p>本网站服务所包含或者提供的图标、标识、网页页眉、按钮图标、文字等均为汉问独有的合法企业标识。用户未经汉问书面许可不得擅自使用，不得以任何方式或理由对本网站的标识的任何部分进行使用、复制、修改、传播或与其他产品捆绑使用，不得以任何可能引起消费者混淆的方式或任何诋毁或诽谤汉问的方式用于任何商品或服务上。未经汉问的书面许可，本网站上的任何内容都不应被解释为以默许或其他方式授予许可或使用本网站上出现的标识的权利。</p>
    <p>All icons, marks, logos, page headers, buttons, and words shown on ChineseChat’s website or contained in the services offered by ChineseChat are ChineseChat’s exclusive and lawful properties. Without ChineseChat’s written consent, users must not use them in any form, or copy, edit, post, or bundle them with other products, nor are they allowed to use them in any type of product or service in a manner that may confuse consumers or defame ChineseChat. Without ChineseChat’s written consent, no contents on its website can be interpreted as a tacit consent or as any form of authorization or permission to use the marks or logos shown on its website.</p>

    <h2>7.	免 责 条 款 </h2>
    <h2>Exception clause</h2>

    <p>如发生以下情况，汉问不对用户的直接或间接损失承担法律责任：</p>
    <p>ChineseChat will not be held liable for any direct or indirect loss suffered by its users arising from any of the following situations in which:</p>
    <p>7.1 不可抗力事件导致的服务中断或汉问无法控制的原因所导致的用户损失，汉问不承担任何责任。</p>
    <p>ChineseChat’s service interruption is caused by force majeure or anything beyond ChineseChat’s control.</p>
    <p>7.2 用户在使用本客户端时因其他应用产生的计算机病毒、黑客入侵、系统失灵或功能紊乱等导致的用户损失，汉问不承担任何责任。</p>
    <p>a user is attacked by hackers or infected with computer viruses, malware, or spyware, or suffer system malfunctions or breakdowns because of other operations while using ChineseChat App.</p>
    <p>7.3 由于用户将个人注册账号信息告知他人或与他人共享注册账号，由此导致的任何风险或损失，由用户自行承担。</p>
    <p>a user incurs a loss because he/she discloses his/her username and/or password to others or shares his/her ChineseChat account with others, in which case the user will be held accountable for such loss or risk arising from such disclosure.</p>
    <p>7.4 系统维护或升级而需要暂停网络服务时，汉问将尽可能事先通过网站或通过推送进行通知。如因此产生用户的损失或潜在损失，汉问将不对此承担任何法律责任。</p>
    <p>ChineseChat has to suspend its service because of system upgrading or maintenance, in which case ChineseChat will try to post a notice on its website or push notification in advance. If such service suspension incurs any loss or potential loss to its users, ChineseChat will not bear any legal liability for such suspension.</p>

    <h2>8.	服   务   终   止 </h2>
    <h2>Termination of Service</h2>

    <p>用户在使用汉问客户端服务的过程中，具有下列情形时，汉问有权终止对该用户的服务：</p>
    <p>ChineseChat has the right to terminate its service offered to a user if the user:</p>
    <p>8.1 用户以非法目的使用汉问客户端；</p>
    <p>uses ChineseChat App for illegal purposes;</p>
    <p>8.2 用户不以上课的真实交易为目的使用汉问客户端；</p>
    <p>uses ChineseChat App to take any course for fraudulent or illegal purposes;</p>
    <p>8.3	用户在客户端的充值余额不足以支付服务费用时；</p>
    <p>doesn't have enough balance on ChineseChat app to pay for the service charge.</p>
    <p>8.4	其他侵犯汉问合法权益的行为。</p>
    <p>infringes on ChineseChat’s rights or interests in any manner.</p>

    <h2>9. 隐  私  声  明</h2>
    <h2>Privacy Statement</h2>

    <p>汉问承诺将按照本隐私声明收集用户信息，除本声明另有规定外，不会在未经用户许可的情况下向第三方或公众披露用户信息：</p>
    <p>ChineseChat adheres to this Privacy Statement when collecting, using, and disclosing users’ information. Unless otherwise stipulated in this Privacy Statement, ChineseChat will not disclose users’ information to any third party or the public without users’ explicit consent.</p>
    <p>9.1 用户信息的范围包括：用户注册的账户信息、用户上传的信息、汉问自动接收的用户信息、汉问通过合法方式收集的用户信息等。</p>
    <p>Users’ information includes users’ account information, information uploaded by users to ChineseChat and information that ChineseChat receives and collects automatically and lawfully during users’ usage.</p>
    <p>9.2 用 户 信 息 的 收 集 和 披 露</p>
    <p>Collection and Disclosure of Users’ Information</p>
    <p>为了给用户提供更优质的服务，汉问不会向第三方披露任何可能用以识别用户个人身份的信息。For the purpose of offering better services to its users, ChineseChat will not disclose any information to any third party with which users’ identity may be recognized. </p>
    <p>只在如下情况下，汉问会合法披露用户信息：</p>
    <p>Only under the following circumstances will ChineseChat legitimately disclose users’ information:</p>
    <p>9.2.1 经用户事先同意，向第三方披露；</p>
    <p>Users have given ChineseChat an explicit consent to disclosing their information to a third party;</p>
    <p>9.2.2 其他根据法律、法规或者政策应进行的披露。</p>
    <p>The disclosure of users’ information is required by other policies or procedures.</p>
    <p>9.3 用  户  信  息  的  保  护</p>
    <p>The Protection for Users’ Information is necessary</p>
    <p>9.3.1用户的账户均有安全保护功能，请妥善保管账户及密码信息。汉问将通过服务器数据备份，确认技术上以实现安全的对用户密码进行加密等措施确保用户信息不丢失，不被滥用和变造。尽管有前述安全措施，但同时也请用户注意在信息网络上不存在“绝对的安全措施”。</p>
    <p>Users’ accounts are secure, but they still need to keep their usernames and passwords private. ChineseChat backs up users’ data through its server in order to make sure that users’ passwords are encrypted and are not abused or altered. Despite the above-mentioned safety measures that ChineseChat has enabled, users should be aware that there is always an inevitable risk.</p>
    <p>9.3.2 除非经过用户同意，汉问不允许任何用户、第三方通过汉问收集、出售或者无偿传播用户信息。</p>
    <p>Unless otherwise approved, ChineseChat will not allow any user or third party to collect, sell, or disseminate users’ information for free through ChineseChat.</p>
    <p>9.3.3汉问网站或客户端若含有到其他网站或应用的链接，汉问不对那些网站的隐私保护措施负责。当用户登录那些网站时，请提高警惕，保护个人隐私。</p>
    <p>ChineseChat's website and ChineseChat App contain links that connect to other websites for whose privacy protection ChineseChat is not responsible. When logging on other websites that ChineseChat leads to, users are expected to be cautious on their privacy.</p>

    <h2>10. 法 律 适 用 与 争 议 解 决         </h2>
    <h2>Applicable Laws and Dispute Resolutions</h2>

    <p>10.1 本协议的履行与解释均适用中华人民共和国法律。</p>
    <p>This Agreement is performed and interpreted in accordance with the laws of the People’s Republic of China.</p>
    <p>10.2 汉问与用户之间的任何争议应友好协商解决，协商不成的，任一方有权将争议提交北京市海淀区人民法院诉讼解决。</p>
    <p>Any disputes arising from and/or related to this agreement will be resolved through friendly negotiations first. If the parties are unable to reach an agreement through negotiations, any party may submit the dispute for litigation to the court in Haidian District, Beijing.</p>

    <h2>11. 本 协 议 条 款 的 修 改 权 与 可 分 性</h2>
    <h2>Modification and Severability             </h2>

    <p>11.1 为更好地提供服务并符合相关监管政策，汉问有权及时修改本协议条款。请用户定期查阅本协议条款。汉问会在网页上公布这些条款的修改通知。</p>
    <p>ChineseChat reserves the right to revise this Agreement at any time for the purpose of better serving its users and abiding by relevant regulations. Users are expected to review this Agreement from time to time, and ChineseChat will post notices on its website regarding the changes made to some terms in this Agreement.</p>
    <p>11.2 本协议条款中任何一条被视为无效或因任何理由不可执行，不影响任何其余条款的有效性和可执行性。</p>
    <p>Any term of this Agreement considered invalid or unenforceable for any reason will not affect the validity and performability of any remaining provisions.</p>

    <h2>12. 通      知</h2>
    <h2>Notification  </h2>

    <p>汉问将通过在本网站上或客户端发布通知或其他方式与用户进行联系。用户同意用网站发布通知方式接收所有协议、通知、披露和其他信息。</p>
    <p>ChineseChat normally contacts its users by posting a notice on its website or in other ways. By accepting this Agreement, users agree to be notified through online notice regarding the receipt of agreements, notices, disclosure and other information.</p>

    <h2>13. 协 议 生 效</h2>
    <h2>Effectiveness  </h2>

    <p>13.1 本协议自用户在汉问客户端注册完成之日起生效。</p>
    <p>This Agreement comes into effect on the day the user registers an account on ChineseChat App.</p>
    <p>13.2 汉问在法律允许范围内对本协议拥有解释权。</p>
    <p>ChineseChat reserves the right of final interpretation of this Agreement to the extent permitted by law.</p>
    <p>注:</p>
    <p>Notes:</p>
    <p>1. 本协议涉及的法律为中华人民共和国现行有效的法律、行政法规、司法解释、地方法     规、地方规章、部门规章及其他规范性文件以及对于该等法律法规的修改和补充。</p>
    <p>The laws referred to in this Agreement are laws, administrative rules, judicial interpretations, regional regulations and rules, department rules, and other regulatory documents currently in effect in the People's Republic of China, as well as revisions and supplements made to such laws and regulations from time to time.</p>
    <p>2. 本协议为中英文双语对照协议，如果中英文之间有歧义，则以中文内容为准。</p>
    <p>This Agreement is written in English and Chinese; if there is any ambiguity between Chinese and English, the Chinese content prevails.</p>


</body>
</html>
