
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>汉问东方用户使用协议</title>
</head>
<body>
    <h1>汉问东方用户使用协议</h1>

    <p>
        欢迎访问汉问客户端！
    </p><p>
        汉问东方网站（www.chinesechat.com）及相应的客户端应用软件由北京汉问东方教育科技有限公司负责开发和运营，致力于打造全球首个提供在线一对一陪练服务的汉语口语学习平台。汉问东方平台通过高效、智能、精准地实时在线匹配师生资源，开展汉语口语一对一教学陪练服务，为老师与学生间提供一种便捷高效的互联网学习工具，创建一个专业、简单、智能、安全的高品质汉语口语学习服务平台。
    </p><p>
        请用户在访问和使用汉问客户端提供的服务前仔细阅读本协议。接受本协议请点击“我已阅读并遵守汉问东方服务条款”按钮完成注册，这表示用户与汉问东方已达成协议并接受所有的服务条款。
    </p>
    <h2>一、汉问东方服务</h2>
    用户应了解并知悉，汉问东方是为学生提供中文听力资源及在线一对一口语陪练的服务平台。学生与老师通过汉问东方的平台服务，在双方之间达成独立的教学服务协议，并承担相应的权利和义务。如在教学过程中导致用户遭受相关财产及人身损害的，用户应直接向另一方追责，汉问东方免于承担因学生和老师之间服务协议履行所致任何纠纷的赔偿责任。同时，汉问东方建立了完善的客户服务体系，力争帮助教师或学生协调或解决纠纷。
    <h2>二、使用规则</h2>
    <p>
        1、注册及账户
    </p><p>
        为了享用汉问客户端提供的服务，用户需要注册一个汉问账户。注册账户需用户完成填写用户名、设置用户密码、阅读并同意“用户协议”等步骤。用户名即为用户注册汉问客户端时所使用的邮箱账号。在完成注册后，该用户即在汉问客户端拥有自己的账户，用户初次登录后通过你的paypal或alipay（支付宝）账户进行汉问客户端的充值操作，完成充值后即可享有汉问在线一对一汉语口语学习陪聊服务（下称服务），采用实时扣费的计费方式，用户需保证账户中足够的余额来持续享有该服务，建议用户每次登录后先查询余额是否足以支付享有该服务的费用，及时做好充值操作，不间断享有该服务。用户使用汉问客户端服务，应负责维护自己账户并限制第三方使用/访问其计算机或移动设备，用户对其账户和密码下发生的所有活动承担法律责任。
    </p><p>
        2、订单
    </p><p>
        本条款所述“订单”，是指用户在汉问平台上根据自身需求匹配达成的老师与学生之间的服务协议。“汉问”平台给学生自动匹配的老师或者学生搜索到合适的老师后，订单在同时满足以下两个条件时即正式订立：
    </p><p>
        （1）学生通过汉问平台有足够的余额支付服务费用；
    </p><p>
        （2）老师确认并接受学生提交的订单申请后建立了通话链接。
    </p><p>
        3、上课流程及评价
    </p><p>
        （1）用户在完成注册后，登录汉问客户端，进入聊天页面，即可选择在线的老师随时随地免预约上课。用户可以选择上课时间，随时进入或退出课程，汉问东方平台将按照你实际的聊天时间扣取相应的费用。专业的汉语老师陪你聊最地道的汉语，选择你喜欢的聊天话题，在闲聊中学汉语。
    </p><p>
        （2）老师履行完毕与学生达成的服务订单后（即陪聊结束挂机后），学生可在客户端上做出相应的评价。用户可以在汉问平台（包括客户端的投诉与建议以及汉问官网这两个途径）发表对老师的评论、建议和其他内容，但是该等内容不得违反中国现行法律法规及其他规范性文件的要求，不得含有非法（包括非法宗教及其宣传品等）、淫秽、威胁、侮辱、诽谤、侵犯隐私、侵犯知识产权的内容或以其他形式对第三方权利构成侵犯。汉问在接到有关权利人的投诉与举报后将采取合理的删除或屏蔽等措施。由于用户的过错给汉问造成损失，用户须对汉问承担赔偿责任。
    </p><p>
        4、听力资源的使用
    </p><p>
        用户下载、安装汉问客户端并点击该应用后即进入听力页面，用户可免费使用汉问东方提供的汉语听力资源。但本资源仅供用户以学习汉语为目的使用，不得对本网站资源进行翻录、复制、发行等。由此所导致的一切民事、行政或刑事责任，由用户自行承担。
    </p>
    <h2>三、双方权利义务及法律责任</h2>
    <p>
        1、汉问东方享有对本协议约定服务的监督、提示、检查、纠正等权利。
    </p><p>
        2、汉问东方有权保留用户注册及使用时预留的所有信息。
    </p><p>
        3、汉问东方有权删除或屏蔽用户上传的非法及侵权信息。
    </p><p>
        4、汉问东方在非依法律规定及用户许可的情况下，不得向任何第三方透露用户信息。
    </p><p>
        5、汉问东方为任何涉嫌侵权的权利人设置便捷的投诉与举报渠道，并依法采取合理救济措施。
    </p><p>
        6、用户须为合法目的使用汉问东方提供的平台服务。
    </p><p>
        7、用户仅对在汉问东方平台上享有的服务及内容享有使用权，即享有在线收听或下载供本人使用的听力资源。未经汉问或其他第三方权利人的书面许可，用户不得对包括视频、学习软件、学习资料、音频内容等在内的任何内容进行翻录、复制、发行等违反知识产权相关法律、法规的行为，由此所导致的一切民事、行政或刑事责任，由用户自行承担。
    </p>
    <h2>四、用户注意义务特别提示</h2>
    <p>
        用户在汉问客户端的口语聊天信息不得含有以下内容：
    </p><p>
        1、反对宪法确定的基本原则的；
    </p><p>
        2、危害国家统一、主权和领土完整的；
    </p><p>
        3、泄露国家秘密、危害国家安全或者损害国家荣誉和利益的；
    </p><p>
        4、煽动民族仇恨、民族歧视，破坏民族团结，或者侵害民族风俗、习惯的；
    </p><p>
        5、宣扬邪教、迷信的；
    </p><p>
        6、扰乱社会秩序，破坏社会稳定的；
    </p><p>
        7、诱导未成年人违法犯罪和渲染暴力、色情、赌博、恐怖活动的；
    </p><p>
        8、侮辱或者诽谤他人，侵害公民个人隐私等他人合法权益的；
    </p><p>
        9、危害社会公德，损害民族优秀文化传统的；
    </p><p>
        10、有关法律、行政法规和国家规定禁止的其他内容。
    </p><h2>五、未成年人特别注意事项</h2>
    <p>
        如果用户不是具备完全民事权利能力和完全民事行为能力的自然人，请用户征得其监护人许可或由其监护人直接使用汉问服务。后续线上学习、付款等事宜也需由监护人陪同或征得监护人许可完成。
    </p>
    <h2>六、知识产权</h2>
    <p>
        1、软件使用
    </p><p>
        用户下载汉问东方提供的客户端软件并安装后可以从客户端使用汉问所提供的服务。汉问在此授予客户免费的、不可转让的、非独占的全球性个人许可，允许客户使用由汉问提供的、包含在服务中的软件。但是，客户不得复制、修改、发布、出售或出租汉问的服务软件或所含软件的任何部分，也不得进行反向工程或试图提取该软件的源代码。
    </p><p>
        2、版权
    </p><p>
        汉问客户端所包含或提供的所有内容诸如文字、图片、视频、声音文件片段、数字下载、软件等都是汉问东方或其内容提供者的财产，受中国和国际版权法的保护。汉问东方所提供使用的所有软件都是汉问东方的财产，受中国和国际版权法的保护。未经汉问书面许可，不得以任何形式通过任何方式复制、展示、修改、转让、分发、重新发布、下载、张贴或传输本网站的内容。
    </p><p>
        3、企业标识
    </p><p>
        本网站服务所包含或者提供的图标、标识、网页页眉、按钮图标、文字等均为汉问东方独有的合法企业标识。用户未经汉问东方书面许可不得擅自使用，不得以任何方式或理由对本网站的标识的任何部分进行使用、复制、修改、传播或与其他产品捆绑使用，不得以任何可能引起消费者混淆的方式或任何诋毁或诽谤汉问东方的方式用于任何商品或服务上。未经汉问东方的书面许可，本网站上的任何内容都不应被解释为以默许或其他方式授予许可或使用本网站上出现的标识的权利。
    </p>
    <h2>七、免责条款</h2>
    <p>
        如发生以下情况，汉问东方不对用户的直接或间接损失承担法律责任：
    </p><p>
        1、不可抗力事件导致的服务中断或汉问东方无法控制的原因所导致的用户损失，汉问东方不承担任何责任。
    </p><p>
        2、用户在使用本客户端时因其他应用产生的计算机病毒、黑客入侵、系统失灵或功能紊乱等导致的用户损失，汉问东方不承担任何责任。
    </p><p>
        3、由于用户将个人注册账号信息告知他人或与他人共享注册帐号，由此导致的任何风险或损失，由用户自行承担。
    </p><p>
        4、系统维护或升级而需要暂停网络服务时，汉问东方将尽可能事先通过网站或通过推送进行通知。如因此产生用户的损失或潜在损失，汉问东方将不对此承担任何法律责任。
    </p>

    <h2>八、服务终止</h2>
    <p>
        用户在使用汉问客户端服务的过程中，具有下列情形时，汉问东方有权终止对该用户的服务：
    </p><p>
        1、用户以非法目的使用汉问平台；
    </p><p>
        2、用户不以上课的真实交易为目的使用汉问平台；
    </p><p>
        3、用户在平台上的充值余额不足以支付享有的服务时；
    </p><p>
        4、其他侵犯汉问东方合法权益的行为。
    </p>
    <h2>九、隐私声明</h2>
    <p>
        汉问东方承诺将按照本隐私声明收集用户信息，除本声明另有规定外，不会在未经用户许可的情况下向第三方或公众披露用户信息：
    </p><p>
        1、用户信息的范围包括：用户注册的账户信息、用户上传的信息、汉问自动接收的用户信息、汉问通过合法方式收集的用户信息等。
    </p><p>
        2、用户信息的收集和披露
    </p><p>
        为了给用户提供更优质的服务，汉问东方不会向第三方披露任何可能用以识别用户个人身份的信息。
    </p><p>
        只在如下情况下，汉问东方会合法披露用户信息：
    </p><p>
        （1）经用户事先同意，向第三方披露。
    </p><p>
        （2）其他根据法律、法规或者政策应进行的披露。
    </p><p>
        3、用户信息的保护
    </p><p>
        （1）用户的账户均有安全保护功能，请妥善保管账户及密码信息。汉问东方将通过服务器数据备份，确认技术上以实现安全的对用户密码进行加密等措施确保用户信息不丢失，不被滥用和变造。尽管有前述安全措施，但同时也请用户注意在信息网络上不存在“绝对的安全措施”。
    </p><p>
        （2）除非经过用户同意，汉问东方不允许任何用户、第三方通过汉问收集、出售或者无偿传播用户信息。
    </p><p>
        （3）汉问东方网站或客户端若含有到其他网站或应用的链接，汉问不对那些网站的隐私保护措施负责。当用户登录那些网站时，请提高警惕，保护个人隐私。
    </p>
    <h2>十、法律适用与争议解决</h2>
    <p>
        1、本协议的履行与解释均适用中华人民共和国法律。
    </p><p>
        2、汉问东方与用户之间的任何争议应友好协商解决，协商不成的，任一方有权将争议提交北京市海淀区人民法院诉讼解决。
    </p><h2>十一、本协议条款的修改权与可分性</h2>
    <p>
        1、为更好地提供服务并符合相关监管政策，汉问有权及时修改本协议条款。请用户定期查阅本协议条款。汉问东方会在网页上公布这些条款的修改通知。
    </p><p>
        2、本协议条款中任何一条被视为无效或因任何理由不可执行，不影响任何其余条款的有效性和可执行性。
    </p><h2>十二、通知</h2>
    <p>
        汉问东方将通过在本网站上或客户端发布通知或其他方式与用户进行联系。用户同意用网站发布通知方式接收所有协议、通知、披露和其他信息。
    </p>
    <h2>十三、协议生效</h2>
    <p>
        1、本协议自用户在汉问客户端注册完成之日起生效。
    </p><p>
        2、汉问在法律允许范围内对本协议拥有解释权。
    </p><p>
        注:
    </p><p>
        1、本协议涉及的法律为中华人民共和国现行有效的法律、行政法规、司法解释、地方法规、地方规章、部门规章及其他规范性文件以及对于该等法律法规的不时修改和补充。
    </p><p>2、本协议中英文各一份，如果有分歧，则以中文版为准。</p>

</body>
</html>
