
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>用户协议</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="()">
    <style type="text/css">
        strong { font-weight: normal; display: none; }
        em { font-style: normal; display: block; font-size: 15px; font-family:'Times New Roman'}
        h1 { font-size: 15px; font-weight: bold; line-height:20px;}
        h1 { margin: 0; padding: 0; }
        p { margin: 0,0,10px,0; padding: 0; }
    </style>
</head>
<body>
    <div class="line_item" data-line="0"></div>
    <h1 class="line  " data-line="0" id="e6aca2e8bf8ee8aebfe997aee6b189e997aee5aea2e688b7e7abaf20">
        <a name="e6aca2e8bf8ee8aebfe997aee6b189e997aee5aea2e688b7e7abaf20"></a>
        <strong>欢迎访问汉问客户端 !</strong>
    </h1>
    <div class="line_item" data-line="1"></div>
    <h1 class="line  " data-line="1" id="welcome20to20chinesechat20">
        <a name="welcome20to20chinesechat20"></a>
        <em>Welcome to ChineseChat !</em>
    </h1>
    <div class="line_item" data-line="2"></div>
    <p class="line  " data-line="2">
        <strong>汉问公司网站(<a href="http://www.chinesechat.com/">http://www.chinesechat.com/</a>)及相应的客户端应用软件是由北京汉问东方教育科技有限公司负责开发和运营，公司致力于提供汉语口语在线一对一训练服务的平台建设。通过汉问客户端实现高效、智能、精准地在线匹配师生开展汉语口语一对一教学训练服务，为全球广大汉语学习者提供一套便捷高效的在线口语学习工具，创建一个专业、简单、智能、安全的高品质汉语口语学习服务平台。</strong>

        <em>
            HanWen’s website (<a href="http://www.chinesechat.com/">http://www.chinesechat.com/</a>)
            and ChineseChat App are developed and operated by Beijing HanWen Education
            Technology Co., LTD, which is dedicated to constructing a platform which provides
            one-on-one spoken Chinese training services online. ChineseChat App develops
            one-on-one teaching and training services in spoken Chinese, offers convenient
            and efficient online learning tools in spoken Chinese for Chinese language
            learners all over the world that match students with their desired instructors,
            and creates a spoken Chinese learning platform that is professional, user friendly,
            high-quality and safe.
        </em>

        <strong>请用户在注册汉问客户端提供的服务前仔细阅读本协议。接受本协议请点击“我已阅读并遵守汉问用户协议”按钮完成注册，这表示用户与汉问公司已达成协议并接受所有服务条款。</strong>
        <br/>
        <em>
            Please read this Agreement carefully before registering ChineseChat App. Click
            on “I have read and accept the terms of 《User Agreement》” button to complete
            your registration process and demonstrate that you have reached an agreement
            with Beijing HanWen Education Technology Co., LTD and that you have accepted
            all the terms in this Agreement.
        </em>
    </p>
    <div class="line_item" data-line="7"></div>
    <h1 class="line  " data-line="7" id="1e6b189e997aee585ace58fb8e69c8de58aa1">
        <a name="1e6b189e997aee585ace58fb8e69c8de58aa1"></a>
        <strong>1.汉问公司服务</strong>
    </h1>
    <div class="line_item" data-line="8"></div>
    <h1 class="line  " data-line="8" id="1hanwene28099s20service">
        <a name="1hanwene28099s20service"></a>
        <em>1.HanWen’s Service</em>
    </h1>
    <div class="line_item" data-line="9"></div>
    <p class="line  " data-line="9">
        <strong>用户应了解并知悉，汉问公司是为学生提供中文听力资源及在线一对一口语训练的服务平台。学生与老师通过汉问的客户端在双方之间达成独立的教学服务。</strong>

        <em>
            Users should be aware that HanWen offers students Chinese listening resources
            and one-on-one online practice in spoken Chinese and provides a platform for
            students and instructors to establish independent teaching services through
            ChineseChat App.
        </em>
    </p>
    <div class="line_item" data-line="12"></div>
    <h1 class="line  " data-line="12" id="2e4bdbfe794a8e8a784e58899">
        <a name="2e4bdbfe794a8e8a784e58899"></a>
        <strong>2.使用规则</strong>
    </h1>
    <div class="line_item" data-line="13"></div>
    <h1 class="line  " data-line="13" id="2steps20and20rules20for20using20chinesechat">
        <a name="2steps20and20rules20for20using20chinesechat"></a>
        <em>2.Steps and Rules for Using ChineseChat</em>
    </h1>
    <div class="line_item" data-line="14"></div>
    <p class="line  " data-line="14">
        <strong>2.1 注册及账户</strong>

        <em>2.1 Registration and Account</em>

        <strong>为了享用汉问客户端提供的服务，用户需要注册汉问账户。注册账户需填写1、用户名（邮箱地址）、2、设置用户密码、3、阅读并同意“用户协议”三个步骤。用户名即为用户注册汉问客户端时所使用的邮箱账号。注册成功后，该用户即在汉问客户端拥有了自己的账户，用户初次登录后通过你的paypal或alipay（支付宝）账户进行汉问客户端的充值操作，完成充值后即可享有汉问公司在线一对一汉语口语训练服务（下称服务），采取每分钟实时扣费的计费方式，用户需保证账户中足够的余额来持续享有该服务，建议用户每次登录后先查询余额是否足以支付本次训练应付的费用，训练前做好充值操作。用户使用汉问客户端服务，应负责保管好自己账户的登入密码并限制第三方使用/访问其手机或终端设备，用户对其自身账户和密码下发生的所有活动承担法律责任。</strong>

        <em>
            Users have to register a ChineseChat account before they use services offered
            by ChineseChat App. By creating the username (email address) and the password,
            and accepting this Agreement, users can complete the registration process,
            after which they can acquire a username that is also the email address, and
            a unique account on ChineseChat App the first time when users log in ChineseChat
            App. Users may then add funds to their ChineseChat account through their paypal
            or alipay account and enjoy the one-on-one spoken Chinese training service
            (referred to as "service"). This service deducts fees per minute in real-time,
            so users need to make sure that sufficient balance is in their account to continue
            enjoying the service. HanWen suggests that users check whether the account
            balance is enough to pay fees each time after logging in and complete the recharge
            process promptly before training.Users should ensure the safety of log in password
            of their ChineseChat account and limit any other party to use their mobile
            phones or terminal equipments. Users are held accountable for all activities
            they perform in their own account.
        </em>

        <strong>2.2 订单</strong>

        <em>2.2 Placing an Order for Course Enrollment</em>

        <strong>本条款所述“订单”，是指用户使用汉问客户端接受汉问公司在线一对一口语训练服务达成的服务协议。“汉问”客户端给学生自动匹配的老师或者学生搜索到合适的老师后，订单在同时满足以下两个条件时即正式订立：</strong>

        <em>
            The term "order" refers to the situation in which students are admitted to reaching
            the service agreement by using ChineseChat App and through accepting the online
            one-on-one spoken Chinese training services from HanWen. After ChineseChat
            App have automatched instructors online or students have searched out the appropriate
            instructors, the order is formally concluded if the following two conditions
            are satisfied:
        </em>

        <strong>2.2.1 学生通过汉问客户端有足够的余额支付服务费用。</strong>

        <em>2.2.1 Students have enough balance to pay for the service on ChineseChat App.</em>

        <strong>2.2.2 老师确认并接受学生提交的订单申请后建立的口语训练语音连接。</strong>

        <em>
            2.2.2 Instructors establish call links after confirming and accepting orders
            that students submit.
        </em>

        <strong>2.3 上课流程及评价</strong>

        <em>2.3 Process of Course Delivery and Evaluation</em>

        <strong>2.3.1 用户在完成注册登录汉问客户端，切换到聊天页面，即可选择呼叫汉问客户端的在线老师, 请求一对一口语训练服务，随时随地进入或退出训练服务，系统将按照你享有的服务时长扣取相应的费用。专业的汉语老师陪你聊最地道的汉语，选择你喜欢的聊天话题，在轻松愉快的聊天氛围中快速提高汉语口语能力。</strong>

        <em>
            After completion of registration, users can log in ChineseChat App, switch to
            chat page and choose the instructor online at anytime. Users can request one-on-one
            spoken Chinese training services, enter or exit the course anywhere at any
            time, and our system will deduct reasonable costs according to users' duration
            of services they enjoy. During chat time, professional Chinese instructors
            will chat with users in authentic Chinese, select users’ favorite chat topics
            and help them improve oral Chinese quickly in a relaxing and chitchat-like
            way.
        </em>

        <strong>2.3.2 在结束本次训练服务后，用户可在汉问客户端上对该老师做出评价。用户可以在汉问客户端（包括客户端的投诉与建议以及汉问公司官网这两个途径）发表对老师的评论、建议和其他内容，但是发表的内容不得违反中国现行法律法规及其他规范性文件的要求，不得含有非法（包括非法宗教及其宣传品等）、淫秽、威胁、侮辱、诽谤、侵犯隐私、侵犯知识产权的内容或以其他形式对第三方权利构成侵犯。汉问公司在接到有关权利人的投诉与举报后将采取合理的删除或屏蔽等措施。由于用户的过错给汉问公司造成损失，用户须对汉问公司承担赔偿责任。</strong>

        <em>
            Users can evaluate their instructors on ChineseChat App at the end of the training
            services by providing suggestions, comments or other contents about their instructors.
            Two typical ways of evaluations include providing comments or suggestions through
            ChineseChat App or through HanWen’s official website, and such comments published
            by users must not violate the laws or the regulations of China, or contain
            any information that is illegal (including heresy and its brochures), pornographic,
            threatening, insulting, offensive, or that infringes on any third party’s privacy,
            intellectual property or other similar rights. HanWen will take proper actions,
            such as removing relevant information or blocking links, upon receipt of any
            complaint or claim of infringement. Users are held accountable for any loss
            he/she causes to HanWen due to his/her misconducts.
        </em>

        <strong>2.4 听力资源的使用</strong>

        <em>2.4 The Use of Listening Resources</em>

        <strong>用户下载、安装汉问客户端并点击该应用后即进入听力页面，用户可免费使用汉问公司提供的汉语听力资源。但本资源仅供用户以学习汉语为目的使用，不得对本资源进行翻录、复制、发行等。由此所导致的一切民事、行政或刑事责任，由用户自行承担。</strong>

        <em>
            After downloading, installing, clicking on ChineseChat App, and entering the
            listening resources page, users can enjoy Chinese listening resources provided
            by HanWen for free. Users are not allowed to record, copy or publish the resources,
            which are for the sole purpose of learning Chinese. Users are held accountable
            for any civil, administrative and/or penal responsibilities arising from or
            related to their misuse of the listening resources on HanWen’s website.
        </em>
    </p>
    <div class="line_item" data-line="37"></div>
    <h1 class="line  " data-line="37" id="3e58f8ce696b9e69d83e588a9e4b989e58aa1e58f8ae6b395e5be8be8b4a3e4bbbb">
        <a name="3e58f8ce696b9e69d83e588a9e4b989e58aa1e58f8ae6b395e5be8be8b4a3e4bbbb"></a>
        <strong>3.双方权利义务及法律责任</strong>
    </h1>
    <div class="line_item" data-line="38"></div>
    <h1 class="line  " data-line="38" id="3rights20and20obligations20of20users20and20hanwen">
        <a name="3rights20and20obligations20of20users20and20hanwen"></a>
        <em>3.Rights and Obligations of Users and HanWen</em>
    </h1>
    <div class="line_item" data-line="39"></div>
    <p class="line  " data-line="39">
        <em>HanWen has the right to:</em>

        <strong>3.1 汉问公司享有对本协议约定服务的监督、提示、检查、纠正等权利。</strong>

        <em>
            3.1 supervise, examine, and correct services stipulated in this Agreement and
            send out reminders.
        </em>

        <strong>3.2 汉问公司有权保留用户注册及使用时预留的信息。</strong>

        <em>3.2 retain information disclosed by users during their registration and usage.</em>

        <strong>3.3 汉问公司有权删除或屏蔽用户上传的非法及侵权信息。</strong>

        <em>3.3 remove or block any illegal or tortious contents uploaded by users.</em>

        <strong>3.4 汉问公司在非依法律规定及用户许可的情况下, 不得向任何第三方透露用户信息。</strong>

        <em>
            3.4 HanWen will not disclose users’ information to any third party unless required
            by law or permitted by users.
        </em>

        <strong>3.5 汉问公司为任何涉嫌侵权的权利人设置便捷的投诉与举报渠道，并依法采取合理救济措施。</strong>

        <em>
            3.5 HanWen sets up convenient ways for whistle blowers and infringement claimants
            to raise their complaints and will take appropriate actions to remedy the situation.
        </em>

        <strong>3.6 用户须为合法目的使用汉问公司提供的客户端服务。</strong>

        <em>3.6 Users must use services offered by HanWen for legal purposes.</em>

        <strong>3.7 用户仅对在汉问客户端享有的服务及内容享有使用权，即享有在线收听或下载供本人使用的听力资源。未经汉问公司或其他第三方权利人的书面许可，用户不得对包括视频、学习软件、学习资料、音频内容等在内的任何内容进行翻录、复制、发行等违反知识产权相关法律、法规的行为，由此所导致的一切民事、行政或刑事责任，由用户自行承担。</strong>

        <em>
            3.7 Users enjoy only the right of using the service and contents on ChineseChat
            App, for example, listening or downloading listening resources for their use.
            Without the written permission of HanWen or of any third party, users must
            not duplicate, copy, or distribute any material derived from ChineseChat, including
            but not limited to video and audio files, software and study materials. Users
            are held liable for any act that infringes on others’ intellectual property
            right or that violates the laws.
        </em>
    </p>
    <div class="line_item" data-line="55"></div>
    <h1 class="line  " data-line="55" id="4e794a8e688b7e6b3a8e6848fe4b989e58aa1e789b9e588abe68f90e7a4ba">
        <a name="4e794a8e688b7e6b3a8e6848fe4b989e58aa1e789b9e588abe68f90e7a4ba"></a>
        <strong>4.用户注意义务特别提示</strong>
    </h1>
    <div class="line_item" data-line="56"></div>
    <h1 class="line  " data-line="56" id="4reminder20of20user20obligations">
        <a name="4reminder20of20user20obligations"></a>
        <em>4.Reminder of User Obligations</em>
    </h1>
    <div class="line_item" data-line="57"></div>
    <p class="line  " data-line="57">
        <strong>用户在汉问客户端的口语聊天信息不得含有以下内容：</strong>

        <em>
            Oral chatting information of users on ChineseChat App must not contain any information
            that:
        </em>

        <strong>4.1 反对宪法确定的基本原则的；</strong>

        <em>4.1 is against the principles of the Constitution of China;</em>

        <strong>4.2 危害国家统一、主权和领土完整的；</strong>

        <em>4.2 jeopardizes national unity, sovereignty and territorial integrity;</em>

        <strong>4.3 泄露国家秘密、危害国家安全或者损害国家荣誉和利益的；</strong>

        <em>
            4.3 divulges national secrets or jeopardizes national security, national honor
            or national interest;
        </em>

        <strong>4.4 煽动民族仇恨、民族歧视，破坏民族团结，或者侵害民族风俗、习惯的；</strong>

        <em>
            4.4 incites hatred or discrimination among ethnic groups, or destroys national
            unity or tradition;
        </em>

        <strong>4.5 宣扬邪教、迷信的；</strong>

        <em>4.5 circulates cult or superstitious information;</em>

        <strong>4.6 扰乱社会秩序，破坏社会稳定的；</strong>

        <em>4.6 disturbs social order or destroys social stability;</em>

        <strong>4.7 诱导未成年人违法犯罪和渲染暴力、色情、赌博、恐怖活动的；</strong>

        <em>
            4.7 induces juvenile delinquency or disseminates information on cult, violence,
            pornography, gambling or terrorism;
        </em>

        <strong>4.8 侮辱或者诽谤他人，侵害公民个人隐私等他人合法权益的；</strong>

        <em>
            4.8 insults or slanders others or invades others’ privacy or legitimate rights
            and interests.
        </em>

        <strong>4.9 危害社会公德，损害民族优秀文化传统的；</strong>

        <em>4.9 harms social morality, ethnic culture and tradition;</em>

        <strong>4.10 有关法律、行政法规和国家规定禁止的其他内容。</strong>

        <em>
            4.10 violates any other provision contained in the laws and administrative regulations
            of the People’s Republic of China.
        </em>
    </p>
    <div class="line_item" data-line="80"></div>
    <h1 class="line  " data-line="80" id="5e69caae68890e5b9b4e4babae789b9e588abe6b3a8e6848fe4ba8be9a1b9">
        <a name="5e69caae68890e5b9b4e4babae789b9e588abe6b3a8e6848fe4ba8be9a1b9"></a>
        <strong>5.未成年人特别注意事项</strong>
    </h1>
    <div class="line_item" data-line="81"></div>
    <h1 class="line  " data-line="81" id="5cautions20for20minors">
        <a name="5cautions20for20minors"></a>
        <em>5.Cautions for Minors</em>
    </h1>
    <div class="line_item" data-line="82"></div>
    <p class="line  " data-line="82">
        <strong>如果用户不是具备完全民事权利能力和完全民事行为能力的自然人，请用户征得其监护人许可或由其监护人直接使用汉问公司服务。后续线上学习、付款等事宜也需由监护人陪同或征得监护人许可完成。</strong>

        <em>
            If a user is not fully entitled to all civil rights or not capable of engaging
            in civil conduct, he/she should obtain his/her guardian’s permission or have
            his/her guardian use HanWen’s services, complete the courses either online
            or offline, and make the course payments in the company of his/her guardian
            or under his/her guardian’s permission.
        </em>
    </p>
    <div class="line_item" data-line="85"></div>
    <h1 class="line  " data-line="85" id="6e79fa5e8af86e4baa7e69d83">
        <a name="6e79fa5e8af86e4baa7e69d83"></a>
        <strong>6.知识产权</strong>
    </h1>
    <div class="line_item" data-line="86"></div>
    <h1 class="line  " data-line="86" id="6intellectual20property">
        <a name="6intellectual20property"></a>
        <em>6.Intellectual Property</em>
    </h1>
    <div class="line_item" data-line="87"></div>
    <p class="line  " data-line="87">
        <strong>6.1 软件使用</strong>

        <em>6.1 Software Usage</em>

        <strong>用户下载汉问公司提供的客户端软件并安装后可以从客户端使用汉问公司所提供的服务。汉问公司在此授予客户免费的、不可转让的、非独占的全球性个人许可，允许客户使用由汉问公司提供的、包含在服务中的软件。但是，客户不得复制、修改、发布、出售或出租汉问公司的服务软件或所含软件的任何部分，也不得进行反向工程或试图提取该软件的源代码。</strong>

        <em>
            Once users download and install ChineseChat App, they can have access to HanWen’s
            services. HanWen grants its users a free, nontransferable and non-exclusive
            global license, allowing users to use software contained in the service; however,
            users must not copy, edit, publish, sell, rent all or part of HanWen’s software,
            perform reverse engineering or try to extract the source code from the software.
        </em>

        <strong>6.2 版权</strong>

        <em>6.2 Copyright</em>

        <strong>汉问客户端所包含或提供的所有内容诸如文字、图片、视频、声音文件片段、数字下载、软件等都是汉问公司或其内容提供者的财产，受中国和国际版权法的保护。汉问公司所提供使用的所有软件都是汉问公司的财产，受中国和国际版权法的保护。未经汉问公司书面许可，不得以任何形式通过任何方式复制、展示、修改、转让、分发、重新发布、下载、张贴或传输本网站的内容。</strong>

        <em>
            All contents provided by ChineseChat —including documents, images, video and
            audio files, data files, and software — are properties of HanWen or its providers,
            and are protected by Chinese and international copyright laws. Without HanWen’s
            written consent, users are not allowed to copy, demonstrate, edit, forward,
            distribute, re-publish, download, repost, or transfer, in any form or in any
            manner, the contents of HanWen’s website.
        </em>

        <strong>6.3 企业标识</strong>

        <em>6.3 Corporate Identities</em>

        <strong>本网站服务所包含或者提供的图标、标识、网页页眉、按钮图标、文字等均为汉问公司独有的合法企业标识。用户未经汉问公司书面许可不得擅自使用，不得以任何方式或理由对本网站的标识的任何部分进行使用、复制、修改、传播或与其他产品捆绑使用，不得以任何可能引起消费者混淆的方式或任何诋毁或诽谤汉问公司的方式用于任何商品或服务上。未经汉问公司的书面许可，本网站上的任何内容都不应被解释为以默许或其他方式授予许可或使用本网站上出现的标识的权利。</strong>

        <em>
            All icons, marks, logos, page headers, buttons, and words shown on HanWen’s website
            or contained in the services offered by HanWen are HanWen’s exclusive and lawful
            properties. Without HanWen’s written consent, users must not use them in any
            form, or copy, edit, post, or bundle them with other products, nor are they
            allowed to use them in any type of product or service in a manner that may
            confuse consumers or defame HanWen. Without HanWen’s written consent, no contents
            on its website can be interpreted as a tacit consent or as any form of authorization
            or permission to use the marks or logos shown on its website.
        </em>
    </p>
    <div class="line_item" data-line="100"></div>
    <h1 class="line  " data-line="100" id="7e5858de8b4a3e69da1e6acbe">
        <a name="7e5858de8b4a3e69da1e6acbe"></a>
        <strong>7.免责条款</strong>
    </h1>
    <div class="line_item" data-line="101"></div>
    <h1 class="line  " data-line="101" id="7exception20clause">
        <a name="7exception20clause"></a>
        <em>7.Exception clause</em>
    </h1>
    <div class="line_item" data-line="102"></div>
    <p class="line  " data-line="102">
        <strong>如发生以下情况，汉问公司不对用户的直接或间接损失承担法律责任：</strong>

        <em>
            HanWen will not be held liable for any direct or indirect loss suffered by its
            users arising from any of the following situations in which:
        </em>

        <strong>7.1 不可抗力事件导致的服务中断或汉问无法控制的原因所导致的用户损失，汉问公司不承担任何责任。</strong>

        <em>
            7.1 HanWen’s service interruption is caused by force majeure or anything beyond
            HanWen’s control.
        </em>

        <strong>7.2 用户在使用本客户端时因其他应用产生的计算机病毒、黑客入侵、系统失灵或功能紊乱等导致的用户损失，汉问公司不承担任何责任。</strong>

        <em>
            7.2 a user is attacked by hackers or infected with computer viruses, malware,
            or spyware, or suffers system malfunctions or breakdowns because of other operations
            while using ChineseChat App.
        </em>

        <strong>7.3 由于用户将个人注册账号信息告知他人或与他人共享注册账号，由此导致的任何风险或损失，由用户自行承担。</strong>

        <em>
            7.3 a user incurs a loss because he/she discloses his/her username and/or password
            to others or shares his/her ChineseChat account with others, in which case
            the user will be held accountable for such loss or risk arising from such disclosure.
        </em>

        <strong>7.4 系统维护或升级而需要暂停网络服务时，汉问公司将尽可能事先通过网站或通过推送进行通知。如因此产生用户的损失或潜在损失，汉问公司将不对此承担任何法律责任。</strong>

        <em>
            7.4 HanWen has to suspend its service because of system upgrading or maintenance,
            in which case HanWen will try to post a notice on its website or push notification
            in advance. If such service suspension incurs any loss or potential loss to
            its users, HanWen will not bear any legal liability for such suspension.
        </em>
    </p>
    <div class="line_item" data-line="113"></div>
    <h1 class="line  " data-line="113" id="8e69c8de58aa1e7bb88e6ada2">
        <a name="8e69c8de58aa1e7bb88e6ada2"></a>
        <strong>8.服务终止</strong>
    </h1>
    <div class="line_item" data-line="114"></div>
    <h1 class="line  " data-line="114" id="8termination20of20service">
        <a name="8termination20of20service"></a>
        <em>8.Termination of Service</em>
    </h1>
    <div class="line_item" data-line="115"></div>
    <p class="line  " data-line="115">
        <strong>用户在使用汉问客户端服务的过程中，具有下列情形时，汉问公司有权终止对该用户的服务：</strong>

        <em>HanWen has the right to terminate its service offered to a user if the user:</em>

        <strong>8.1 用户以非法目的使用汉问客户端；</strong>

        <em>8.1 uses ChineseChat App for illegal purposes;</em>

        <strong>8.2 用户不以上课的真实交易为目的使用汉问客户端；</strong>

        <em>8.2 uses ChineseChat App to take any course for fraudulent or illegal purposes;</em>

        <strong>8.3 用户在客户端的充值余额不足以支付服务费用时；</strong>

        <em>8.3 doesn't have enough balance on ChineseChat App to pay for the service charge.</em>

        <strong>8.4 其他侵犯汉问公司合法权益的行为。</strong>

        <em>8.4 infringes on HanWen’s rights or interests in any manner.</em>
    </p>
    <div class="line_item" data-line="126"></div>
    <h1 class="line  " data-line="126" id="9e99a90e7a781e5a3b0e6988e">
        <a name="9e99a90e7a781e5a3b0e6988e"></a>
        <strong>9.隐私声明</strong>
    </h1>
    <div class="line_item" data-line="127"></div>
    <h1 class="line  " data-line="127" id="9privacy20statement">
        <a name="9privacy20statement"></a>
        <em>9.Privacy Statement</em>
    </h1>
    <div class="line_item" data-line="128"></div>
    <p class="line  " data-line="128">
        <strong>汉问公司承诺将按照本隐私声明收集用户信息，除本声明另有规定外，不会在未经用户许可的情况下向第三方或公众披露用户信息：</strong>

        <em>
            HanWen adheres to this Privacy Statement when collecting, using, and disclosing
            users’ information. Unless otherwise stipulated in this Privacy Statement,
            HanWen will not disclose users’ information to any third party or the public
            without users’ explicit consent.
        </em>

        <strong>9.1 用户信息的范围包括：用户注册的账户信息、用户上传的信息、汉问公司自动接收的用户信息、汉问公司通过合法方式收集的用户信息等。</strong>

        <em>
            9.1 Users’ information includes users’ account information, information uploaded
            by users to HanWen and information that HanWen receives and collects automatically
            and lawfully during users’ usage.
        </em>

        <strong>9.2 用户信息的收集和披露</strong>

        <em>9.2 Collection and Disclosure of Users’ Information</em>

        <strong>为了给用户提供更优质的服务，汉问公司不会向第三方披露任何可能用以识别用户个人身份的信息。</strong>

        <em>
            For the purpose of offering better services to its users, HanWen will not disclose
            any information to any third party with which users’ identity may be recognized.
        </em>

        <strong>只在如下情况下，汉问公司会合法披露用户信息：</strong>

        <em>
            Only under the following circumstances will HanWen legitimately disclose users’
            information:
        </em>

        <strong>9.2.1 经用户事先同意，向第三方披露；</strong>

        <em>
            9.2.1 Users have given HanWen an explicit consent to disclosing their information
            to a third party;
        </em>

        <strong>9.2.2 其他根据法律、法规或者政策应进行的披露。</strong>

        <em>9.2.2 The disclosure of users’ information is required by other policies or procedures.</em>

        <strong>9.3 用户信息的保护</strong>

        <em>9.3 The Protection for Users’ Information is necessary</em>

        <strong>9.3.1 用户的账户均有安全保护功能，请妥善保管账户及密码信息。汉问公司将通过服务器数据备份，确认技术上以实现安全的对用户密码进行加密等措施确保用户信息不丢失，不被滥用和变造。尽管有前述安全措施，但同时也请用户注意在信息网络上不存在“绝对的安全措施”。</strong>

        <em>
            9.3.1 Users’ account are secure, but they still need to keep their usernames
            and passwords private. HanWen backs up users’ data through its server in order
            to make sure that users’ passwords are encrypted and are not abused or altered.
            Despite the above-mentioned safety measures that HanWen has enabled, users
            should be aware that there is always an inevitable risk.
        </em>

        <strong>9.3.2 除非经过用户同意，汉问公司不允许任何用户、第三方通过汉问收集、出售或者无偿传播用户信息。</strong>

        <em>
            9.3.2 Unless otherwise approved, HanWen will not allow any user or third party
            to collect, sell, or disseminate users’ information for free through ChineseChat.
        </em>

        <strong>9.3.3 汉问公司网站或客户端若含有到其他网站或应用的链接，汉问公司不对那些网站的隐私保护措施负责。当用户登录那些网站时，请提高警惕，保护个人隐私。</strong>

        <em>
            9.3.3 HanWen’s website and ChineseChat App contain links that connect to other
            websites for whose privacy protection HanWen is not responsible. When logging
            on other websites that ChineseChat leads to, users are expected to be cautious
            on their privacy.
        </em>
    </p>
    <div class="line_item" data-line="150"></div>
    <h1 class="line  " data-line="150" id="10e6b395e5be8be98082e794a8e4b88ee4ba89e8aeaee8a7a3e586b3">
        <a name="10e6b395e5be8be98082e794a8e4b88ee4ba89e8aeaee8a7a3e586b3"></a>
        <strong>10.法律适用与争议解决</strong>
    </h1>
    <div class="line_item" data-line="151"></div>
    <h1 class="line  " data-line="151" id="10applicable20laws20and20dispute20resolutions">
        <a name="10applicable20laws20and20dispute20resolutions"></a>
        <em>10.Applicable Laws and Dispute Resolutions</em>
    </h1>
    <div class="line_item" data-line="152"></div>
    <p class="line  " data-line="152">
        <strong>10.1 本协议的履行与解释均适用中华人民共和国法律。</strong>

        <em>
            10.1 This Agreement is performed and interpreted in accordance with the laws
            of the People’s Republic of China.
        </em>

        <strong>10.2 汉问公司与用户之间的任何争议应友好协商解决，协商不成的，任一方有权将争议提交北京市海淀区人民法院诉讼解决。</strong>

        <em>
            10.2 Any disputes arising from and/or related to this Agreement will be resolved
            through friendly negotiations first. If the parties are unable to reach an
            agreement through negotiations, any party may submit the dispute for litigation
            to the court in Haidian District, Beijing.
        </em>
    </p>
    <div class="line_item" data-line="156"></div>
    <h1 class="line  " data-line="156" id="11e69cace58d8fe8aeaee69da1e6acbee79a84e4bfaee694b9e69d83e4b88ee58fafe58886e680a7">
        <a name="11e69cace58d8fe8aeaee69da1e6acbee79a84e4bfaee694b9e69d83e4b88ee58fafe58886e680a7"></a>
        <strong>11.本协议条款的修改权与可分性</strong>
    </h1>
    <div class="line_item" data-line="157"></div>
    <h1 class="line  " data-line="157" id="11modification20and20severability">
        <a name="11modification20and20severability"></a>
        <em>11.Modification and Severability</em>
    </h1>
    <div class="line_item" data-line="158"></div>
    <p class="line  " data-line="158">
        <strong>11.1 为更好地提供服务并符合相关监管政策，汉问公司有权及时修改本协议条款。请用户定期查阅本协议条款。汉问公司会在网页上公布这些条款的修改通知。</strong>

        <em>
            11.1 HanWen reserves the right to revise this Agreement at any time for the purpose
            of better serving its users and abiding by relevant regulations. Users are
            expected to review this Agreement from time to time, and HanWen will post notices
            on its website regarding the changes made to some terms in this Agreement.
        </em>

        <strong>11.2 本协议条款中任何一条被视为无效或因任何理由不可执行，不影响任何其余条款的有效性和可执行性。</strong>

        <em>
            11.2 Any term of this Agreement considered invalid or unenforceable for any reason
            will not affect the validity and performability of any remaining provisions.
        </em>
    </p>
    <div class="line_item" data-line="162"></div>
    <h1 class="line  " data-line="162" id="12e9809ae79fa5">
        <a name="12e9809ae79fa5"></a>
        <strong>12.通知</strong>
    </h1>
    <div class="line_item" data-line="163"></div>
    <h1 class="line  " data-line="163" id="12notification">
        <a name="12notification"></a>
        <em>12.Notification</em>
    </h1>
    <div class="line_item" data-line="164"></div>
    <p class="line  " data-line="164">
        <strong>汉问公司将通过在本网站上或客户端发布通知或其他方式与用户进行联系。用户同意用网站发布通知方式接收所有协议、通知、披露和其他信息。</strong>

        <em>
            HanWen normally contacts its users by posting a notice on its website or in other
            ways. By accepting this Agreement, users agree to be notified through online
            notice regarding the receipt of agreements, notices, disclosure and other information.
        </em>
    </p>
    <div class="line_item" data-line="166"></div>
    <h1 class="line  " data-line="166" id="13e58d8fe8aeaee7949fe69588">
        <a name="13e58d8fe8aeaee7949fe69588"></a>
        <strong>13.协议生效</strong>
    </h1>
    <div class="line_item" data-line="167"></div>
    <h1 class="line  " data-line="167" id="13effectiveness">
        <a name="13effectiveness"></a>
        <em>13.Effectiveness</em>
    </h1>
    <div class="line_item" data-line="168"></div>
    <p class="line  " data-line="168">
        <strong>13.1 本协议自用户在汉问客户端注册完成之日起生效。</strong>

        <em>
            13.1 This Agreement comes into effect on the day the user registers an account
            on ChineseChat App.
        </em>

        <strong>13.2 汉问公司在法律允许范围内对本协议拥有解释权。</strong>

        <em>
            13.2 HanWen reserves the right of final interpretation of this Agreement to the
            extent permitted by law.
        </em>
    </p>
    <div class="line_item" data-line="172"></div>
    <h1 class="line  " data-line="172" id="e6b3a8">
        <a name="e6b3a8"></a>
        <strong>注:</strong>
    </h1>
    <div class="line_item" data-line="173"></div>
    <h1 class="line  " data-line="173" id="notes">
        <a name="notes"></a>
        <em>Notes:</em>
    </h1>
    <div class="line_item" data-line="174"></div>
    <p class="line  " data-line="174">
        <strong>1.协议中的“汉问公司”仅指“北京汉问东方教育科技有限公司”。协议中的“汉问”仅指“ChineseChat App”。</strong>

        <em>
            1.“HanWen” in this Agreement refers to Beijing HanWen Education Technology Co.,
            LTD. “ChineseChat” in this Agreement refers to ChineseChat App.
        </em>

        <strong>2.本协议涉及的法律为中华人民共和国现行有效的法律、行政法规、司法解释、地方法规、地方规章、部门规章及其他规范性文件以及对于该等法律法规的修改和补充。</strong>

        <em>
            2.The laws referred to in this Agreement are laws, administrative rules, judicial
            interpretations, regional regulations and rules, department rules, and other
            regulatory documents currently in effect in the People's Republic of China,
            as well as revisions and supplements made to such laws and regulations from
            time to time.
        </em>
    </p>
</body>
</html>
