
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserHelp</title>
</head>
<body>
    <div>
        <h1>用户帮助</h1>

        <h4>1. 请问有视频通话吗？</h4>
        <p>有视频通话功能。在聊天界面，点击+按钮，再点击「免费通话」就可以看到视频通话啦。</p>
        <h4>2. 怎么获得金币，有什么作用？</h4>
        <p>
            金币：每天登录可免费领取100金币或者用钻石兑换。情侣爱宠中主人等级达到6级，会开启小金库功能，小金库会产金币哦。金币可在情侣爱宠中使用；
            <br />钻石：可以通过在线支付购买、清理爱宠便或者活动中获得。钻石可在情侣爱宠中使用。
        </p>
        <h4>3. 在线时长怎么计算？</h4>
        <p>聊天可以增加在线时长；在后台运行，或者在Chinese的其它使用界面在线时长不增加。</p>
        <h4>4. 夜间模式在哪里？ </h4>
        <p>目前没能有夜间模式，敬请期待！</p>

        <h3>私密相册</h3>
        <h4>1. 私密相册可以上传多少张照片？</h4>
        <p>
            亲，私密相册每次可上传9张照片，总共可储存2000张照片。
        </p>

        <h3>Chinese</h3>
        <h4>1. 在线时长怎么计算？</h4>
        <p>学生和教师聊天可以增加在线时长；在后台运行，或者在Chinese的其它使用界面在线时长不增加。</p>

        <h4>3. 怎么更换头像？ </h4>
        <p>亲可以在「Me」--「头像」--「个人信息」--「头像」，进行更换。</p>

        <h3>聊天</h3>
        <h4>1. 能否一键删除聊天记录？</h4>
        <p>为了避免情侣双方因矛盾把聊天记录全部删除而造成的不便，没有一键删除功能哒。</p>
        <h4>2. 在某些系统中无法正常使用聊天功能（如无法接收消息、聊天界面提示连接中、消息延迟接收、没有消息推送）</h4>
        <p>
            1）打开安全中心，授权管理——自启动管理——Chinese（选择勾选），即可允许应用自启动
            <br />2）关闭神隐模式：
            <br />①手机设置--其他高级设置--电量与性能--神隐模式--关闭；
            <br />②手机设置--其他高级设置--电量与性能--神隐模式--应用配置--Chinese--自定义配置/保存联网。
        </p>


    </div>
</body>
</html>
