
@{
    Layout = null;
}


<div class="pageContent">
    <div class="pageFormContent " layoutH="58">
        <div id="jbsxBox2" class="unitBox" style="float:left; display:block; overflow:auto; width:49%;">
            <div class="pageHeader" style="border:1px #B8D0D6 solid">
                <form id="pagerForm" onsubmit="return divSearch(this, 'jbsxBox2');" action="demo/pagination/list2.html" method="post">
                    <input type="hidden" name="pageNum" value="1" />
                    <input type="hidden" name="numPerPage" value="${model.numPerPage}" />
                    <input type="hidden" name="orderField" value="${param.orderField}" />
                    <input type="hidden" name="orderDirection" value="${param.orderDirection}" />
                    <div class="searchBar">
                        <table class="searchContent">
                            <tr>
                                <td>
                                    姓名：<input type="text" name="name" />
                                </td>
                                <td><div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div></td>
                            </tr>
                        </table>
                    </div>
                </form>
            </div>
        </div>

        <div id="jbsxBox3" class="unitBox" style="margin-left:50%;">
            <div class="pageHeader" style="border:1px #B8D0D6 solid">
                <form id="pagerForm" onsubmit="return divSearch(this, 'jbsxBox3');" action="demo/pagination/list3.html" method="post">
                    <input type="hidden" name="pageNum" value="1" />
                    <input type="hidden" name="numPerPage" value="${model.numPerPage}" />
                    <input type="hidden" name="orderField" value="${param.orderField}" />
                    <input type="hidden" name="orderDirection" value="${param.orderDirection}" />
                    <div class="searchBar">
                        <table class="searchContent">
                            <tr>
                                <td>
                                    姓名：<input type="text" name="name" />
                                </td>
                                <td><div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div></td>
                            </tr>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="formBar">
        <ul>
            <li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
            <li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
        </ul>
    </div>
</div>

